---
---

<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="script.js"></script>
	<title>Thomas Bartlett's Portfolio</title>
</head>

<body ng-controller="MainController">
	<div class="parallax-base">
		<div class="layer" data-depth="1.0">
			<div class="layer-image" style="background-image:url('Parallax/Background-Sky.png')"></div>
		</div>
		<div class="layer" data-depth="0.75">
			<div class="layer-image" style="background-image:url('Parallax/Background-Ground.png')"></div>
			<div class="logo"></div>

			
		</div>
		<div class="layer" data-depth="0.5">
			<div class="layer-image" style="background-image:url('Parallax/Layer3.png')"></div>
			{% include character.html id="00" char="Bird Kid" game="Sonder (2016)" img="Sonder" offset="100" x="831" y="466" w="192" h="256" %}
			{% include character.html id="01" char="The Girl" game="Cloud Chaser (2017)" img="CloudChaser" offset="150" x="659" y="525" w="132" h="287" %}
			{% include character.html id="02" char="Cowboy" game="Tumbleweed Dodgeball (2017)" img="TumbleweedDodgeball" offset="170" x="327" y="586" w="291" h="332" %}
			{% include character.html id="03" char="Red Horror" game="Cyberspace Doom (2017)" img="CyberspaceDoom" offset="100" x="48" y="648" w="311" h="328" %}
		</div>
		<div class="layer" data-depth="0.25">
			<div class="layer-image" style="background-image:url('Parallax/Layer2.png')"></div>
			{% include character.html id="10" char="Fiesta Man" game="Avalanche Fiesta (2014)" img="AvalancheFiesta" offset="180" x="919" y="229" w="153" h="201" %}
			{% include character.html id="11" char="Square Cadence" game="NecroClone (2017)" img="NecroClone" offset="180" x="727" y="269" w="132" h="219" %}
			{% include character.html id="12" char="Tattooed Man" game="Sonder Alpha (2015)" img="SonderAlpha" offset="170" x="509" y="310" w="148" h="245" %}
			{% include character.html id="13" char="The Prince" game="FlipSide (2016)" img="FlipSide" offset="85" x="243" y="393" w="216" h="242" %}
			{% include character.html id="14" char="Sphere" game="Shape Fight (2016)" img="ShapeFight" offset="150" x="37" y="452" w="179" h="175" %}
		</div>
		<div class="layer" data-depth="0.0">
			<div class="layer-image" style="background-image:url('Parallax/Layer1.png')"></div>
			{% include character.html id="20" char="Agent O'Hare" game="WTLDT (2016)" img="WTLDT" offset="175" x="947" y="63" w="135" h="108" %}
			{% include character.html id="21" char="Slug Captain" game="Infinite Space (2015)" img="InfiniteSpace" offset="170" x="774" y="104" w="152" h="134" %}
			{% include character.html id="22" char="Dasher" game="Wave Dasher (2017)" img="WaveDasher" offset="135" x="530" y="131" w="204" h="146" %}
			{% include character.html id="23" char="Red Cursor" game="Chrono Cursor (2016)" img="ChronoCursor" offset="150" x="318" y="183" w="164" h="193" %}
			{% include character.html id="24" char="Clucky" game="Laser Craft (2014)" img="LaserCraft" offset="140" x="68" y="214" w="196" h="177" %}
		</div>

	</div>
	<div class="section about flex-center">
		<div class="about-left light-margin">
			<img src="About/HeadShot.png" alt="My Beautiful Face" class="head-shot lighter-margin">
			<p class="center-text lighter-margin"><b>Thomas Bartlett</b></p>
			<p class="center-text lighter-margin">tbartl@umich.edu</p>
		</div>
		<div class="about-right light-margin">
			<p class="pad-top-bottom">Hi there, my name is <b>Thomas Bartlett</b> and...</p>
			{% include about.html img="UofM" text="I'm a senior in <b>Computer Science</b> at the <b>University of Michigan</b>" %}
			{% include about.html img="Autodesk" text="I'm a two time <b>Software Development Intern</b> at <b>Autodesk</b>" %}
			{% include about.html img="EECS494" text="I'm an <b>Instructor</b> for <b>EECS 494:</b> Game Design and Development" %}
			{% include about.html img="GroundWorks" text="I'm a <b>Technologies Consultant</b> at <b>GroundWorks Media Lab</b>" %}
			{% include about.html img="Hobbyist" text="I'm a <b>hobbyist game developer</b> with a lot of passion projects" %}
			<p class="pad-top-bottom">Want to know more about me? Check out my <a href="#">resume</a> or any of my <a href="#">projects</a> below.
		</div>
	</div>

	<div class="section projects-section about">
		<p class="projects-header light-margin">My Work</p>
		<div class="projects-buttons">
			<button type="button" class="projects-button lighter-padding lighter-margin" id="projects-button-0">All Projects</button>
			<button type="button" class="projects-button lighter-padding lighter-margin">Only Games</button>
			<button type="button" class="projects-button lighter-padding lighter-margin">Non-Games</button>
		</div>
	</div>

</body>

</html>