* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: #212121;
    /* background-image: url("backgroundImage.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */
}

.parallax-base {
    max-width: 1920px;
    max-height: 1080px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.layer {
    position: absolute;
    overflow: hidden;
    max-width: 1920px;
    right: 0px;
    bottom: 0px;
}

.layer-image {
    /* position: absolute; */
    position:  static;
    right: 0px;
    bottom: 0px;
    width: 1920px;
    height: 1080px;
}

.character {
    transition: background-image .3s;
    position: absolute;
}

.character:hover {
    cursor: pointer;
    transition: background-image .3s;
}