* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

p, a, li {
    font-size: 1.5em;
}

a {
    color: #00ffff;
    text-decoration: none;
    display: block;
}

p a {
    font-size: 1em;
    display: inline-block;
}

h1, p, li {
    display: block;
    color: white;
}

a:hover {
    font-weight: bold;
}

html, body {
    width: 100%;
}

body {
    padding: 0px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: #212121;
    width: 1920px;
    height: 1080px;
    transform-origin: 0 0;
    overflow-x: hidden;
}

.parallax-base {
    width: 1920px;
    height: 1080px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.layer {
    position: absolute;
    overflow: hidden;
    width: 1920px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.logo {
    position: absolute;
    width: 358px;
    height: 358px;
    left: 70px;
    top: 70px;
    background-image: url("Parallax/logo.png");
}

.video {
    position: absolute;
    width: 720px;
    height: 405px;
    left: 70px;
    top: 70px;
}

.layer-image {
    position: static;
    right: 0px;
    bottom: 0px;
    width: 1920px;
    height: 1080px;
    pointer-events: none;
}

.character {
    transition: background-image .3s;
    position: absolute;
    pointer-events: all;
}

.character:hover {
    cursor: pointer;
    transition: background-image .3s;
}

.character-text-div {
    position: absolute;
    white-space: nowrap;
    border: 2px solid #131e2d;
    opacity: 0;
    top: 100px;
    transition: top .3s, opacity .3s;
    pointer-events: none;
}

.character-text-top {
    background-color: #131e2d;
    color: #eff3f8;
    padding: .1em .4em .1em .4em;
}

.character-text-bottom {
    background-color: #eff3f8;
    color: #131e2d;
    padding: .1em .4em .1em .4em;
    font-size: 1em;
}

.character:hover .character-text-div {
    opacity: 1;
    top: 0px;
    transition: top .3s, opacity .3s;
}

.section {
    padding: 100px 280px;
}

.about {
    background-color: #00112B;
}

.projects-section {
    background-color: #131e2d;
}

.projects-header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.projects-buttons {
    text-align: center;
}

.projects-button {
    font-size: 1.5em;
    background: none;
    border-style: solid;
    border-radius: 4px;
    text-decoration: none;
    border-color: white;
    color: white;
    padding: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    outline: none;
    transition: color .3s, border-color .15s, background-color .15s;
}

.projects-button:hover {
    cursor: pointer;
}

#projects-button--1 {
    color: #629009;
    border-color: #629009;
}

#projects-button--1:hover, .projects-button--1-active {
    color: #a9eb2c;
    border-color: #a9eb2c;
    background-color: #344d09;
}

#projects-button-0 {
    color: #900972;
    border-color: #900972;
}

#projects-button-0:hover, .projects-button-0-active {
    color: #eb2cc0;
    border-color: #eb2cc0;
    background-color: #4d093e;
}

#projects-button-1 {
    color: #70410f;
    border-color: #70410f;
}

#projects-button-1:hover, .projects-button-1-active {
    color: #ea8f2d;
    border-color: #ea8f2d;
    background-color: #4d2c09;
}

.flex-center {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
    flex-wrap: wrap;
}

.head-shot {
    border-radius: 50%;
}

.medium-margin {
    margin: 2em;
}

.light-margin {
    margin: 1em;
}

.lighter-margin {
    margin: .5em;
}

.medium-padding {
    margin: 2em;
}

.pad-top-bottom {
    padding-top: .5em;
    padding-bottom: .5em;
}

.center-text {
    text-align: center;
}

.project-icon-div {
    width: 300px;
    height: 300px;
    filter: grayscale(.6);
    transition: filter .2s, border-width .2s;
    background-attachment: local;
    border: 0px solid white;
}

.project-icon-div:hover, .project-icon-div-active {
    filter: none;
    cursor: pointer;
}

.project-icon-div-active {
    border-width: 5px;
}

.project-container {
    width: 1200px;
    height: 0px;
    transition: height .25s;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.project-container-shown {
    height: 675px;
}

.project-container-real {
    width: 1200px;
    height: 675px;
    background-color: #242424;
    overflow: hidden;
    overflow-y: auto;
    border: 4px solid white;
    padding: .7em;
}

.project-container-real * {
    padding: .6em;
}

.project-container-real img {
    width: 100%;
    height: auto;
}

.italic {
    font-style: italic;
}

iframe {
    width: 100%;
}

.connect {
    opacity: 0.8;
    transition: opacity .2s;
}

.connect:hover {
    opacity: 1;
}
