<style>
  .character{{include.id}} {
    width: {{include.w}}px;
    height: {{include.h}}px;
    bottom: {{include.y}}px;
    right: {{include.x}}px;
    background-image: url("Parallax/{{include.game}}-Style.png");
  }

  .character{{include.id}}-hover {
    background-image: url("Parallax/{{include.game}}-Real.png");
  }
</style>
<div class="character character{{include.id}}" ng-class="{'character{{include.id}}-hover' : hoverChar == {{include.id}}}" ng-mouseover="onCharMouseOver({{include.id}})" ng-mouseleave="onCharMouseLeave()">
</div>