{% unless counter %}
  {% assign counter = 0 %}
{% endunless %}

<style>
    .project-icon-div-{{include.id}} {
        background-image: url("Projects/{{include.name}}/icon.png");
        order: {{counter | divided_by: 4 }};
    }
    .project-container-{{include.id}} {
        order: {{counter | divided_by: 4 | plus: 1 }};
    }
</style>
<div class="project-icon-div project-icon-div-{{include.id}}" ng-click="selectedProject = {{include.id}}" ng-class="{'project-icon-div-active' : selectedProject == {{include.id}}}">
</div>
<div class="project-container project-container-{{include.id}}" ng-class="{'project-container-shown' : selectedProject == {{include.id}}}">   
    <div class="project-container-real">
        <p>Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! </p>
        <p>Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! </p>
        <p>Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! </p>
        <p>Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! </p>
        <p>Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! </p>
        <p>Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! </p>
        <p>Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! </p>
        <p>Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! </p>
        <p>Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! </p>
        <p>Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! </p>
        <p>Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! </p>
        <p>Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! </p>
        <p>Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! </p>
        <p>Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! </p>
        <p>Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! Greetings Summoner! </p>
        <p>Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! Well Met! </p>
    </div> 
</div>

{% assign counter = counter | plus: 1 %}